---
pageable: true
per_page: 2
---
<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <h3><%= link_to article.title, article %></h3>
      <h5><%= article.date.strftime('%b %e, %Y') %></h5>
      <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
      <p><%= article.body %></p>
    </li>
  <% end %>
</ul>

<br/>

<% if paginate && num_pages > 1 %>
<div class="pagination">
  <ul>
    <% if prev_page %>
      <li class="page-prev"><%= link_to 'Previous', prev_page %></li>
    <% end %>
    <li>
      <ul>
        <li><%= link_to '1', "/" %></li>
        <% (2..num_pages).each do |pn| %>
          <% if pn == page_number %>
            <li class="active"><%= link_to pn, "page/#{pn}/" %></li>
          <% else %>        
            <li><%= link_to pn, "page/#{pn}/" %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
    <% if next_page %>
      <li class="page-next"><%= link_to 'Next', next_page %></li>
    <% end %>
  </ul>
</div>
<% end %>