<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8", http-equiv="Content-Type" />
    <title><%="#{data.settings.site.author}" + ' | ' %><%= current_article.nil? ? "#{data.settings.site.tagline}" : current_article.title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <meta name='description', content='<%="#{data.settings.site.description}"%>' />
    <meta name='keywords',    content='<%="#{data.settings.site.keywords}"%>' />
    <meta name='author',      content='<%="#{data.settings.site.author}"%>' />
    <meta name='viewport',    content='width=device-width, initial-scale=1.0' />

    <link href="favicon.png", rel="shortcut icon" />

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'> 
  
    <%= stylesheet_link_tag "all" %>    
  </head>
  <body>
    
    <div id="main" role="main">
      <%= partial "partials/nav" %>
      <%= yield %>
      <%= partial "partials/footer" %>
    </div>    

  </body>
</html>
